node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test
.env.production
.env.local

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# tests
/coverage
/.vitest

# Tools caches
/.eslintcache
/.prettiercache
/.svelte-check
