SECRET_KEY= #your secret key here
DEBUG= # "True" for dev and staging, "False" for production
ALLOWED_HOSTS= # eg "0.0.0.0"
TRUSTED_ORIGINS= # eg "http://localhost:PORT"
CSRF_TRUSTED_ORIGINS_DEV= # eg http://localhost:5173, http://127.0.0.1:5173
CSRF_TRUSTED_ORIGINS_PROD= # eg https://yourdomain.com